<!DOCTYPE html>
<html>
<head>
  <title>Groupmy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="user_nav">
		<%= link_to "Home", root_path, id: "root" %>
		<% if current_user %>
		  Signed in as <strong><%= current_user.email %></strong>!
		  <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign_out" %>
		<% else %>
		  <%= link_to "Sign in", new_user_session_path, id: "sign_in" %>
		<% end %>
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <%= content_tag :div, msg, :class => "flash_#{name}" %>
          <% end %>
        <% end %>
	</div>
</div>

<%= yield %>

</body>
</html>
